<% provide(:title, 'About Us') %>

<% content_for :body do %>
  <body class="team">
<% end %>

<!-- Content -->
<div class="content">

  <!-- row about us -->
  <div class="row">
    <div class="large-4 columns lgrey">
      <h2 class="stronger">About Us</h2>
      <p>
        We are on our way to being the leading supplier and distributor of CCTV security products and networks solutions in <b>Jamaica</b>, we currently offer <em>Outdoor</em> and <em>Indoor</em> video surveillance along with Network products. Our main brands includes and not limited to <em>iView Technology</em> for CCTV, <em>TP-Link and Cisco</em> for Network.
      </p>                    
    </div>

    <div class="large-8 columns">

      <div class='progress_bars'>
        <div class='progress_bar'>
          <div class='progress_title'><h4>Technology Solutions</h4></div>
          <span class='progress_number'><span>95</span>%</span> 
          <div class='progress_content_outer'>
            <div data-percentage='95' class='progress_content'></div>
          </div>
        </div>

        <div class='progress_bar'>
          <div class='progress_title'><h4>Brand Communication</h4></div>
          <span class='progress_number'><span>55</span>%</span> 
          <div class='progress_content_outer'>
            <div data-percentage='55' class='progress_content'></div>
          </div>
        </div>

        <div class='progress_bar'>
          <div class='progress_title'><h4>Support</h4></div>
          <span class='progress_number'><span>85</span>%</span>
          <div class='progress_content_outer'>
            <div data-percentage='85' class='progress_content'></div>
          </div>
        </div>
      </div>                

    </div>
  </div>
  <!-- /row about us -->

  <!-- row what we do -->
  <div class="row wedo">

    <div class="large-4 columns dgrey">
      <h2 class="stronger">Mission &amp; Values</h2>
      <p>
        Our vision for the Jamaican market is to enrich people’s lives by transforming the way the world communicates and secure there homes and businesses. We are dedicated to the sales of CCTV and networking equipment and we have established a reputation for supplying superior products. We are able to offer cutting-edge technology, deliver quality and ultimately achieve success and growth for our clients.
      </p>
    </div>

    <div class="large-8 columns">
      <h5>Client Satisfaction Is Our First Priority</h5>
      <div class="row title_adjusted">
        <div class="large-8 columns">
          <p>
            We have a strong focus on solutions that maximize value for our customers. Our success is determined on how well we perform for our customers, and this requires teamwork. In this regard, we work hard as a team to ensure this success.
          </p>
          <p>
            We want our customers to view us as an essential part of their success, by providing them with an experienced and knowledgeable staff, excellent equipment and continual improvement of our services offerer. We also deliver on any commitments we make, offering special prices and services when applicable.
          </p>
        </div>

        <div class="large-4 columns">
          <p>
            To survive in today’s global marketplace, our competitive philosophy motivates us to stay ahead of the rest. We offer products and services in the CCTV industry that provides competitive advantages for our customers.
          </p>
        </div>
      </div>    
    </div>

  </div>
  <!-- /row what we do -->

  <!-- row our team -->
  <div class="row">

    <div class="large-4 columns lgrey">
      <h2 class="stronger">Our Team</h2>
      <p>
        <b>Dwayne Shirley</b> co-founded Intellectual Technologies and Investments Ltd. and serves as the Managing Director, he has always wanted to run his own technology based business, it wasn't until he met his current business partner that he was able realize his dream. Mr. Shirley is a self taught programmer, who has natural skills of problem solving technology related issues; he is also very committed to helping his clients.
      </p>  
      <p>
        <b>Howard Wallace</b> co-founded Intellectual Technologies and Investments Ltd and serves as the CTO, he holds a BSc. in Information Technology and along with his business partner has a love for new technology. Mr. Wallace is family oriented and enjoys spending his off time with his children.
      </p>  
    </div>

    <!-- team photos -->
    <div class="large-8 columns">
      <ul class="large-block-grid-3 small-block-grid-1 team_cards">
        <li>
          <div class="et-wrapper et-rotate" data-in="moveFromBottom" data-out="moveToTopEasing ontop">
            <img src="http://placehold.it/234x266" alt="team_1">
            <!-- <img src="images/team/dwayne.jpg" alt="team_1"> -->
            <div class="et-page highlight_title">
              <div class="bottom_aligned">
                <h4>Dwayne Shirley</h4>
                <p>Managing Director / Founder</p>
              </div>
            </div>

            <div class="et-page highlight_text">
              <p>Your favourite quote or tagline goes here...</p>
              <ul>
                <li><a href="http://www.facebook.com"><i class="icon-facebook-circled"></i></a></li>
                <li><a href="#"><i class="icon-twitter-circled"></i></a></li>
                <li><a href="#"><i class="icon-mail-circled"></i></a></li>
                <li><a href="#"><i class="icon-gplus-circled"></i></a></li>
              </ul>
            </div>
          </div>
        </li>

        <li>
          <div class="et-wrapper et-rotate" data-in="moveFromBottom" data-out="moveToTopEasing ontop">
            <img src="http://placehold.it/234x266" alt="team_2">
            <!-- <img src="images/team/howard.jpg" alt="team_2"> -->
            <div class="et-page highlight_title">
              <div class="bottom_aligned">
                <h4>Howard Wallace</h4>
                <p>CTO / Founder</p>
              </div>
            </div>

            <div class="et-page highlight_text">
              <p>Your favourite quote or tagline goes here...</p>
              <ul>
                <li><a href="#"><i class="icon-facebook-circled"></i></a></li>
                <li><a href="#"><i class="icon-twitter-circled"></i></a></li>
                <li><a href="#"><i class="icon-mail-circled"></i></a></li>
                <li><a href="#"><i class="icon-gplus-circled"></i></a></li>
              </ul>               
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- /team photos -->

  </div>
  <!-- /row our team -->

</div>
<!-- /Content -->