<% provide(:title, 'Home Automation Technology') %>

<% content_for :body do %>
  <body class="team">
<% end %>

<!-- Intro -->
<div class="row intro">
  <div class="large-12 columns">
    <h1>Home Automation Technology</h1>
  </div>
</div>
<!-- /Intro -->

<!-- Content -->
<div class="row">

  <div class="large-4 columns">
    <h5>What is Home Automation?</h5>
    <p>
      Ask five different people what home automation is and you will probably get five different answers. Home automation uses technology to make your everyday tasks in the home (or office) simpler, safer, or less expensive. Home automation systems can control lights and dimmers, create or enhance home theater and entertainment systems, strengthen home security, automate locks and doors, and increase energy efficiency.
    </p>
    <p>
      <%= image_tag "home_automation.jpg", alt: "image01" %>
    </p>
  </div>

  <div class="large-4 columns">
    <h5>Examples of Home Automation</h5>
    <p>
      Using a smart phone to turn on a light across the room or unlocking the front door as you pull into the driveway are examples of using home automation. Turning on your home sprinkler system with your smart phone or logging in from your computer at work to view your home security cameras are also examples of using home automation. Home automation includes anything that gives you remote or automatic control of the electronics inside it.
    </p>
    <p>
      <%= image_tag "home_automation2.jpg", alt: "image02" %>
    </p>
  </div>

  <div class="large-4 columns">
    <h5>The Technology behind Home Automation - Z~Wave</h5>
    <p>
      The Z-Wave protocol is an interoperable wireless RF-based communications technology designed specifically for control, monitoring and status reading applications in residential and light commercial environments. Mature, proven and broadly deployed (12 million products sold worldwide), Z-Wave is by far the world market leader in wireless control, bringing affordable, reliable and easy-to-use 'smart' products to many millions of people in every aspect of daily life. 
    </p>
    <p>
      <%= image_tag "smartphone_zwave1.jpg", alt: "image03" %>
    </p>
  </div>

</div>
<!-- /Content -->



