<!-- Intro -->
<div class="row intro">
  <div class="large-12 columns">
    <h1>Welcome to Intellectual Technologies and Investments</h1>
    <p class="stronger">
      We are on our way to being the leading supplier and distributor of CCTV security products and networks solutions in Jamaica, we currently offer Indoor and Outdoor Video surveillance, along with Network products.
    </p>
  </div>
</div>

<div class="row highlight1">
  <div class="large-4 columns">
    <div class="et-wrapper et-rotate" data-in="moveFromBottom" data-out="moveToTopEasing ontop">
      <img src="http://placehold.it/320x182" alt="hilite_1">
      <span class="pattern_shadow"></span>
      <div class="et-page highlight_title">
        <div class="bottom_aligned">
          <span>Lorem Ipsum Dolor</span>
          <h4>Our Project Is Our Playground</h4>
        </div>
      </div>
      <div class="et-page highlight_text">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, laudantium suscipit inventore!
        </p>
      </div>
    </div>
  </div>

  <div class="large-4 columns">
    <div class="et-wrapper et-rotate" data-in="moveFromBottom" data-out="moveToTopEasing ontop">
      <img src="http://placehold.it/320x182" alt="hilite_2">
      <span class="pattern_shadow"></span>
      <div class="et-page highlight_title">
        <div class="bottom_aligned">
          <span>Lorem Ipsum Dolor</span>
          <h4>Our Project Is Our Playground</h4>
        </div>
      </div>
      <div class="et-page highlight_text">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, laudantium suscipit inventore!
        </p>
      </div>
    </div>
  </div>

  <div class="large-4 columns">
    <div class="et-wrapper et-rotate" data-in="moveFromBottom" data-out="moveToTopEasing ontop">
      <img src="http://placehold.it/320x182" alt="hilite_3">
      <span class="pattern_shadow"></span>
      <div class="et-page highlight_title">
        <div class="bottom_aligned">
          <span>Lorem Ipsum Dolor</span>
          <h4>Our Project Is Our Playground</h4>
        </div>
      </div>
      <div class="et-page highlight_text">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, laudantium suscipit inventore!
        </p>
      </div>
    </div>
  </div>
</div>
<!-- /Intro -->

<!-- Client Logos -->
<div id="clients_logo">
  <div class="row">
    <div class="large-12 columns">
    <h3 class="heading_accent">Our Clients</h3>
      <ul class="large-block-grid-6 small-block-grid-2">
        <li><img src="http://placehold.it/156x73" alt="" /></li>
        <li><img src="http://placehold.it/156x73" alt="" /></li>
        <li><img src="http://placehold.it/156x73" alt="" /></li>
        <li><img src="http://placehold.it/156x73" alt="" /></li>
        <li><img src="http://placehold.it/156x73" alt="" /></li>
        <li><img src="http://placehold.it/156x73" alt="" /></li>
        <li><img src="http://placehold.it/156x73" alt="" /></li>
        <li><img src="http://placehold.it/156x73" alt="" /></li>
        <li><img src="http://placehold.it/156x73" alt="" /></li>
        <li><img src="http://placehold.it/156x73" alt="" /></li>
        <li><img src="http://placehold.it/156x73" alt="" /></li>
        <li><img src="http://placehold.it/156x73" alt="" /></li>
      </ul>
    </div>
  </div>
</div>
<!-- /Client Logos -->

<!-- Block Grid -->
<div class="row highlight2">
  <div class="large-12 columns">
    <ul class="large-block-grid-4 small-block-grid-1">
      <li>      
        <div class="panel equal-h">
          <i class="animate icon-videocam-outline"></i>
          <h4>CCTV Solutions</h4>
          <ul class="list-icon i-check">
            <li>
              <p>4 to 32 Channel DVRs</p>
            </li>
            <li>
              <p>Budget Systems, Low Cost DVRs</p>        
            </li>
            <li>
              <p>Commercial High Definition DVRs</p>        
            </li>
            <!-- <li>
              <p>Low Cost, High Quality 600-700 tvl Cameras</p>
            </li>
            <li>
              <p>PTZ Cameras</p>
            </li>
            <li>
              <p>P2P Low Cost IP Cameras</p>
            </li>
            <li>
              <p>CCTV Accessories</p>
            </li>
            <li>
              <p>CCTV Servicing and Repairs</p>
            </li> -->
          </ul>
        </div>
        <div class="bottom-action">
          <span class="left"><a href="#">More Info</a> <i class="icon-info"></i></span>
          <span class="right">
            <a href="#" onClick="return false;" class="md-trigger" data-modal="contact-modal">Enquire Now!</a> <i class="icon-right-open-mini"></i>
          </span>
        </div>
      </li>
      <li>
        <div class="panel equal-h">
          <i class="animate icon-network"></i>
          <h4>Network Solutions</h4>
          <ul class="list-icon i-check">
            <li>
              <p>Network Design</p>
            </li>
            <li>
              <p>Network Installation</p>
            <li>
              <p>Consultancy</p>
            </li>
            <li>
              <p><b>Home Automation (NEW)</b></p>     
            </li>
          </ul>
        </div>
        <div class="bottom-action">
            <span class="left"><a href="about_us.html">More Info</a> <i class="icon-info"></i></span>
            <span class="right">
              <a href="#" onClick="return false;" class="md-trigger" data-modal="contact-modal">Enquire Now!</a> <i class="icon-right-open-mini"></i>
            </span>
        </div>
      </li>
      <li>
        <div class="panel equal-h">
          <i class="animate icon-list-numbered"></i>
          <h4>Investing Benefits</h4>
          <ul class="list-icon i-number">
            <li>
              <p>Benefit #1</p>
            </li>
            <li>
              <p>Benefit #2</p>       
            </li>
            <li>
              <p>Benefit #3</p>     
            </li>
            <li>
              <p>Benefit #4</p>
            </li>
            <li>
              <p>Benefit #5</p>
            </li>
          </ul>
        </div>
        <div class="bottom-action">
          <span class="left"><a href="#">Charts</a> <i class="icon-chart-bar-5"></i></span>
          <span class="right"><a href="">More Data</a><i class="icon-right-open-mini"></i></span>
        </div>        
      </li>
      <li>
        <div class="panel equal-h">
          <i class="animate icon-clock-circled"></i>
          <h4>Timely Support</h4>
          <ul class="list-icon i-number">
            <li>
              <p>Reason #1</p>
            </li>
            <li>
              <p>Reason #2</p>    
            </li>
            <li>
              <p>Reason #3</p>        
            </li>
            <li>
              <p>Reason #4</p>        
            </li>
          </ul>
        </div>
        <div class="bottom-action">
          <span class="left"><a href="#">Need Help</a> <i class="icon-help"></i></span>
          <span class="right">
            <a href="#" onClick="return false;" class="md-trigger" data-modal="support-modal">Get it Now</a> <i class="icon-right-open-mini"></i>
          </span>
        </div>  
      </li>
    </ul>
  </div>
</div>
<!-- /Block Grid -->

<!-- Testimonial -->
<section class="testimonial">
  <div class="testimonial bg-testimonial" data-type="background" data-speed="3">
    <div class="row">
      <div class="twelve columns">
        <div class="slider2">
          <div class="slide">
            <div data-position="190,0" class="testimonial-text">
              <blockquote>Good design is all about making other designers feel like idiots because that idea wasn’t theirs
              <span>Frank Chimero</span>
              </blockquote>           
          </div>
            <div class="avatar" data-position="200,950" data-delay="800" data-in="fade" data-out="fade">
              <img src="http://placehold.it/260x260.png" alt="client photo" class="Client Photo" />
            </div>
          </div>
          <div class="slide">
            <div data-position="190,0" class="testimonial-text">
              <blockquote>Every child is an artist. The challenge is to remain an artist after you grow up
              <span>Pablo Picasso</span>
              </blockquote>           
          </div>
            <div class="avatar" data-position="200,950" data-delay="800" data-in="fade" data-out="fade">
              <img src="http://placehold.it/260x260.png" alt="client photo" class="Client Photo" />
            </div>
          </div>
          <div class="slide">
            <div data-position="190,0" class="testimonial-text">
              <blockquote>Marketing without design is lifeless, and design without marketing is mute
              <span>Von R. Glitschka</span>
              </blockquote>           
          </div>
            <div class="avatar" data-position="200,950" data-delay="800" data-in="fade" data-out="fade">
              <img src="http://placehold.it/260x260.png" alt="client photo" class="Client Photo" />
            </div>
          </div>
          <div class="fs_loader"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Testimonial -->

<!-- Map -->  
<div class="row intro">
  <div class="large-12 columns">
    <h1>Get in Touch</h1>
    <p class="stronger">Get in touch to start your project with us, share your ideas and get ready to make it happen</p>
  </div>
</div>
<div class="row gmap">
  <div class="large-12 columns">
    <section class="map cf">
      <div class="map" id="map"></div>  
      <div class="mapinfo">
        <span class="left"><i class="icon-location-circled"></i>123 Example Street, Example Town, Jamaica</span>
        <span class="right"><i class="icon-phone-circled"></i>+1 876 123 4567</span>
        <span class="right"><i class="icon-mail-circled"></i>support@itinvestmentsltd.com</span>
     </div>
    </section>
  </div>
</div>
<!-- /Map -->

<!-- .bottom -->
<div class="bottom">
  <div class="row">
    <div class="large-4 columns">
      <h3>From The Blog</h3>
      <div class="et-wrapper">
      <button class="button et-rotate btn" data-in="rotateSlideIn" data-out="rotateSlideOut">Next</button>
      <div class="et-page blog-item">
        <img src="http://placehold.it/80x80" alt="bunga">
        <div class="floatright">
          <h5><a href="#">Magnis Dis Parturient</a></h5>
          <p>Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla. Magnis dis parturient montes, nascetur ridiculus mus.</p>
          <span class="author"><a href="#">Hilda M. Hall</a> - Sep 16</span>
        </div>
      </div>

      <div class="et-page blog-item">
        <img src="http://placehold.it/80x80" alt="gandum">
        <div class="floatright">
          <h5><a href="#">Donec Ullamcorper Nulla</a></h5>
          <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper.</p>
          <span class="author"><a href="#">Hilda M. Hall</a> - Sep 16</span>
        </div>
      </div>

      <div class="et-page blog-item">
        <img src="http://placehold.it/80x80" alt="balon">
        <div class="floatright">
          <h5><a href="#">Nascetur Ridiculus Mus</a></h5>
          <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <span class="author"><a href="#">Hilda M. Hall</a> - Sep 16</span>
        </div>
      </div>

      </div>

    </div>

    <div class="large-4 columns">
      <h3>About ITI</h3>
      <p>
        We are on our way to being the leading supplier and distributor of CCTV security products and networks solutions in <b>Jamaica</b>, we currently offer <em>Outdoor</em> and <em>Indoor</em> video surveillance along with Network products. Our main brands includes and not limited to <em>iView Technology</em> for CCTV, <em>TP-Link and Cisco</em> for Network.
      </p>
    </div>

    <!-- newsletter form -->
    <div class="large-4 columns newsletter">
      <h3>Newsletter Signup</h3>
      <p>Get the free and unique freebies delivered right into your inbox</p>
      <input type="text" placeholder="Your name">
      <input type="text" placeholder="Your Email Address">
      <a href="#" class="button right">Subscribe</a>
    </div>
    <!-- /newsletter form -->
  </div>
</div>
<!-- /.bottom -->

<!-- .footer -->  
<div class="footer">
  <div class="row">
    <div class="large-8 columns copyright">&copy; 2013 Intellectual Technologies and Investments Ltd. All rights reserved.</div>
    <div class="large-4 columns social">
      <ul class="large-block-grid-4">
        <li><a href="#"><i class="icon-facebook-circled"></i></a></li>
        <li><a href="#"><i class="icon-twitter-circled"></i></a></li>
      </ul>
    </div>
  </div>
</div>
<!-- /.footer -->

<!-- contact us modal -->
<div  class="contact-us md-modal md-effect-3" id="contact-modal">
  <div class="md-content">
    <h3>Send Us a Message</h3>
    
  <form class="custom form_container" data-abide>
      <p>We&apos;ll reply to your message within 24 hours</p>
       <div class="row">
       <input type="text" placeholder="Your name" pattern="[a-zA-Z]" required>
       <small class="error" data-error-message>Please enter your name.</small>
      </div>
      <div class="row">
      <input type="email" placeholder="Your Email Address" required>
      <small class="error" data-error-message>Valid email required.</small>
      </div>
       <div class="row">
       <textarea placeholder="Your Message" required></textarea>
       <small class="error" data-error-message>Please enter your message.</small>
       </div>
    <div class="cta_btn">
      <button type="submit" class="button left">Send Message</button>
      <a class="button md-close right">Close</a>
    </div>
  </form>     
  </div>
</div>
<!-- /contact us modal -->

<!-- support modal -->
<div class="contact-us md-modal md-effect-3" id="support-modal">
  <div class="md-content">
    <h3>Request Our Help Now</h3>
    <p>More details on how to do this will be available soon!</p>
  </div>
</div>
<!-- /support modal -->

<div class="md-overlay"></div>

<script src="http://maps.google.com/maps/api/js?key=AIzaSyBvb76rtiJC63PR97e-EkepBb5uurFCYEY&amp;sensor=false"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/1.2.1/lodash.min.js"></script>

