<% provide(:title, 'Our Solutions') %>

<% content_for :body do %>
  <body class="team">
<% end %>

<!-- Intro -->
<div class="row intro">
  <div class="large-12 columns">
    <h1>Our Solutions</h1>
    <p class="stronger">
      Whether the focus is on business/home security or network solutions, we are committed to helping our clients solve any day to day problems through our services and products offered.
    </p>
  </div>
</div>
<!-- /Intro -->

<!-- Content -->
<div class="row fullcontent">
  <div class="large-12 columns">
    <ul id="og-grid" class="og-grid">
      <li class="photography">
        <img src="http://placehold.it/345" alt="img01">
      </li>
      <li class="photography">
        <img src="http://placehold.it/345" alt="img02">
      </li>
      <li class="photography">
        <img src="http://placehold.it/345" alt="img03">
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-4 columns">
    <h3><span class="stronger">CCTV Solutions</span></h3>
    <ul>
      <li>4 to 32 Channel DVRs</li>
      <li>Budget Systems, Low Cost DVRs</li>
      <li>Commercial High Definition DVRs</li>
      <li>PTZ Cameras</li>
      <li>Low Cost, High Quality 600-700 tvl Cameras</li>
      <li>P2P Low Cost IP Cameras</li>
      <li>CCTV Accessories</li>
      <li>CCTV Servicing and Repairs</li>
    </ul>
  </div>
  <div class="large-4 columns">
    <h3><span class="stronger">Network Soultions</span></h3>
    <ul>
      <li>Network Design</li>
      <li>Network Installation</li>
      <li>Consultancy</li>
      <li><%= link_to "Home Automation (NEW)", automation_path %></li>
    </ul>
  </div>
  <div class="large-4 columns">
    <h3><span class="stronger">Home Automation</span></h3>
    <ul>
      <li>This is just a place holder...</li>
      <li>This is just a place holder...</li>
      <li>This is just a place holder...</li>
      <li>This is just a place holder...</li>
      <li>This is just a place holder...</li>
    </ul>
  </div>
</div>
<!-- /Content -->


