<!-- Banner -->
<div id="mainBanner" data-type="background" data-speed="2">
  <div class="slider1">

    <div class="slide">
      <h1 data-position="300,0">Design is a Good Idea</h1>
      <h2 data-position="360,0" data-delay="990"  data-in="fade" data-out="fade" >Design from the spine and you’ll be fine</h2>
      <div data-position="420,0" data-delay="1290" data-in="bottom" data-ease-in="easeOutBounce" data-out="fade">
        <img src="images/rockroll.png" alt="rockroll" class="button_cta">
      </div>
    </div>

    <div class="slide">
    <h1 data-position="300,0">Amet Bibendum Vehicula Tristique</h1>
      <h2 data-position="360,0" data-delay="1000" data-in="fade" data-out="fade">Nullam id dolor id nibh ultricies vehicula ut id elit</h2>
      <div data-position="420,0" data-delay="1290" data-in="bottom" data-ease-in="easeOutBounce" data-out="fade">
        <img src="images/rockroll.png" alt="rocknroll" class="button_cta">
      </div>
    </div>

    <div class="slide">
    <h1 data-position="300,0">Purus Venenatis</h1>
      <h2 data-position="360,0" data-delay="1000" data-in="fade" data-out="fade">Aenean lacinia bibendum nulla sed consectetur</h2>
      <div data-position="420,0" data-delay="1290" data-in="bottom" data-ease-in="easeOutBounce" data-out="fade">
        <img src="images/rockroll.png" alt="rocknroll" class="button_cta">
      </div>
    </div>

    <div class="fs_loader"></div>

  </div>
</div>
<!-- /Banner -->