<!-- Logo -->
<div id="logo" class="row">
  <div class="large-2 small-4 columns">
    <%= link_to image_tag("iti_logo.png", alt: 'ITI', width: "130px", height: "176px"), root_path %>
  </div>
</div>
<!-- /Logo -->